:root {
  /* 调色板 */
  --ice-blue: #c3fffb;
  --light-green: #21fd99;
  --tag-blue: #356279;
  --dark-green: #1b3742;
  --dark-blue: #0d2638;
  --white: #ffffff;
  --text-blue: #adc4cf;
  --light-yellow: #fda602;

  /* 统一圆角与阴影 */
  --radius: 12px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* 深色背景 & 字体 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
  background: var(--dark-blue);
  color: var(--white);
  overflow: hidden; /* 禁止页面滚动 */
}


body {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  touch-action: manipulation;  /* 阻止双击放大、延迟 */

}


p {
    display: block;
    margin-block-start: 0.0;
    margin-block-end: 0.0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* 自定义滚动条样式（Chrome, Edge, Safari） */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-blue); /* 轨道颜色 */
}

::-webkit-scrollbar-thumb {
  background-color: var(--tag-blue); /* 滑块颜色 */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #17d97e;
}

/* Firefox 支持（有限） */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--tag-blue) var(--dark-blue);
}